<h1>Cities</h1>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>

<div id="bye">Click me</div>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


<script>
  // Write your JS here.
  // Open the JS console and refresh the page to see the output.
  $(document).ready(function() {
    $("body").on("click", "#bye", function() {
      $(".west").slideToggle();
    });

    let chi = $("#ord");
    chi.fadeToggle(5000, function() {
      this.remove();
    });
  
  });
  
  // Fizz buzz
  /*
  for (let i = 1; i<=100; i++){
    if (i%3===0 && i%5===0){
      console.log("fizzbuzz");
    } else if (i%3===0){
      console.log("fizz");
    } else if (i%5===0){
      console.log("buzz");
    }else{
      console.log(i);
    }
  }
  */
</script>
